@page "/object"
@inject HttpClient Http

<PageTitle>Pagination Object</PageTitle>

<h1>Pagination Object</h1>

<p>This component demostrate how to do a pagination directly from a object.</p>

@if(Paginator == null || !Paginator.HasItems)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableObject Data=Paginator.Items OnPageChange=ToPage Paginator=Paginator />
}

@code {
    private PaginationObjectHangler<Customers> Paginator;
    const int Elements = 5;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            Paginator = new(await Http.GetFromJsonAsync<List<Customers>>($"all"), Elements);
            await ToPage(1);
        }
    }

    async Task ToPage(int page)
    {
        Console.WriteLine("ejecute");
        await InvokeAsync(StateHasChanged);
    }
}


