@page "/virtualize-api"
@inject HttpClient Http

<PageTitle>Pagination Virtualize Api</PageTitle>

<h1>Pagination Virtualize Api</h1>

<p>This component demonstrate how to do a infinity scrolling from a api.</p>

<TableVirtualized ItemsProvider=LoadData />

@code {
    int PageNumber = 0;
    const int Elements = 5;
    int LastIndex = 0;

    private async ValueTask<ItemsProviderResult<Customers>> LoadData(ItemsProviderRequest request)
    {
        try
        {
            Customers[] customers = await Http.GetFromJsonAsync<Customers[]>($"virtualize/{request.StartIndex}/{request.Count}", request.CancellationToken);
            return new ItemsProviderResult<Customers>(customers, 8000);
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
            return new ItemsProviderResult<Customers>(null, 0);
        }
    }
}



