@page "/virtualize-object"
@inject HttpClient Http

<PageTitle>Pagination Virtualize Object</PageTitle>

<h1>Pagination Virtualize Object</h1>

<p>This component demostrate how to do a infity scrolling directly from a object.</p>
@if(Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableVirtualized Data=Data />
}

@code {
    IList<Customers> Data;

    protected override async Task OnInitializedAsync()
    {
        Data = await Http.GetFromJsonAsync<List<Customers>>($"virtual-object");
    }
}




