@page "/object"
@inject HttpClient Http

<PageTitle>Pagination Object</PageTitle>

<h1>Pagination Object</h1>

<p>This component demostrate how to do a pagination directly from a object.</p>

@if(Paginator == null || !Paginator.HasItems)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="tabla">
        <div class="head">
            <div class="first-column">Id</div>
            <div>Name</div>
        </div>
        <div class="body">
            @foreach(var item in Paginator.Items)
            {
                <div class="data-row">
                    <div class="data-column first-column">
                        @item.Id
                    </div>
                    <div class="data-column">
                        @item.CompanyName
                    </div>
                </div>
            }
        </div>
        <div class="footer">
            <Paginator Handler=Paginator OnPageChange=ToPage />
        </div>
    </div>
}

@code {
    private PaginationObjectHangler<Customers> Paginator;
    const int Elements = 5;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            Paginator = new(await Http.GetFromJsonAsync<List<Customers>>($"all"), Elements);
            await ToPage(1);
        }
    }

    async Task ToPage(int page)
    {
        await InvokeAsync(StateHasChanged);
    }
}


