@page "/api"
@inject HttpClient Http

<PageTitle>Pagination Api</PageTitle>

<h1>Pagination Api</h1>

<p>This component demonstrate how to do a pagination directly from a api.</p>

@if(Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableObject Data=Data OnPageChange=ToPage Paginator=Paginator />
}

@code {
    private PaginatorHandler Paginator;
    IReadOnlyList<Customers> Data;
    const int Elements = 5;

    protected override void OnInitialized() => Paginator = new(100, Elements);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await ToPage(1);
        }
    }

    async Task ToPage(int page)
    {
        int acualPage = Paginator.ActualPage > 0 ? (Paginator.ActualPage - 1) : 0;
        Data = await Http.GetFromJsonAsync<List<Customers>>($"data/{acualPage * Elements}/{Elements}");
        await InvokeAsync(StateHasChanged);
    }
}


