@using NetConf2023.Pagination.Handlers;
<ul>
    @for(int i = 1; i <= Handler?.TotalPages; i++)
    {
        int p = i;
        <li><button type="button" @onclick="() => ToPage(p)" class="btn @(Handler?.ActualPage == p ? "btn-primary":"")">@p</button></li>
    }
</ul>



@code{
    [CascadingParameter] public PaginatorHandler Handler { get; set; }
    [CascadingParameter] public EventCallback<int> OnPageChange { get; set; }

    async Task ToPage(int page)
    {
        Console.WriteLine("Entre");
        Handler.ToPage(page);
        if (OnPageChange.HasDelegate)
            await OnPageChange.InvokeAsync(Handler.ActualPage);
    }
}