@page "/virtualize-object"
@inject HttpClient Http

<PageTitle>Pagination Virtualize Object</PageTitle>

<h1>Pagination Virtualize Object</h1>

<p>This component demostrate how to do a infity scrolling directly from a object.</p>
@if(Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="tabla">
        <div class="head">
            <div class="first-column">Id</div>
            <div>Name</div>
        </div>
        <div class="body scroll">
            <Virtualize Items=Data Context="item">
                <div class="data-row">
                    <div class="data-column first-column">
                        @item.Id
                    </div>
                    <div class="data-column">
                        @item.CompanyName
                    </div>
                </div>
            </Virtualize>
        </div>
    </div>
}

@code {
    IList<Customers> Data;

    protected override async Task OnInitializedAsync()
    {
        Data = await Http.GetFromJsonAsync<List<Customers>>($"virtualize-object");
    }
}




