<TableComponent>
    <HeadContent>
        <div class="first-column">Id</div>
        <div>Name</div>
    </HeadContent>
    <BodyContent>
        @foreach(var item in Data)
        {
            <RowItemComponent Item=item />
        }
    </BodyContent>
    <FooterContent>
        @if(Paginator is not null)
        {
            <CascadingValue Value=Paginator>
                <CascadingValue Value=OnPageChange>
                    <Paginator />
                </CascadingValue>
            </CascadingValue>
        }
    </FooterContent>
</TableComponent>

@code {
    [Parameter] public IEnumerable<Customers> Data { get; set; }
    [Parameter] public PaginatorHandler Paginator { get; set; }
    [Parameter] public EventCallback<int> OnPageChange { get; set; }
}
