<TableComponent>
    <HeadContent>
        <div class="first-column">Id</div>
        <div>Name</div>
    </HeadContent>
    <BodyContent>
        <div class="body">
            <Virtualize Items=Data Context="item" ItemsProvider=ItemsProvider>
                <RowItemComponent Item=@item />
            </Virtualize>
        </div>
    </BodyContent>
</TableComponent>

@code {
    [Parameter] public ICollection<Customers> Data { get; set; }
    [Parameter] public ItemsProviderDelegate<Customers> ItemsProvider { get; set; } = default;


}
